.navbar {

    background-color: var(--main-color);
}



@media screen and (max-width:576px) {
    .container-navbar {
        justify-content: center!important;
        
    }
    .left {
        display: none!important;
    }
}
.buttons-navbar {
  width: 100px !important;

}
.profileImg {
    width: 50px;
    height: 40px;
    margin-right: 10px;
    border-radius: 46%;
}